@import "../scss/config";

@mixin before($text) {
  &:before {
    position: absolute;
    content: $text;
    top: -1px;
    right: -1px;
    background-color: darkblue;
    color: yellow;
    padding: 5px;
    border-radius: 3px;
    opacity: 0.65;
  }
}

header, footer, main {
  flex-shrink: 0;

  width: 100%;

  position: relative;

  display: flex;
  flex-direction: row;

  border: $b-1x dashed black;
}

header, footer {
  min-height: 40px;
}

header {
  @include before("HEADER");

  justify-content: space-around;
  align-items: center;

  .form-group {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    background: yellow;
    //border: $b-1x solid red;
    label {
      margin-bottom: 0;
    }
    select.form-control {
      display: inline-block;
      width: auto;
      margin-left: 5px;
    }
  }
}

main {
  flex-grow: 1;
  @include before("MAIN");

  justify-content: center;
}

footer {
  margin-top: auto;
  @include before("FOOTER");
}

h3 {
  margin-top: 25px;
}
