<!--<a href="" class="btn btn-secondary">hi</a>-->

<div class="container h-100 d-flex flex-column justify-content-start align-items-center">
  <header class="row">
    <div class="w-100">HEADER</div>
    <div class="col-sm-5 offset-sm-3 text-nowrap text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci amet at, aut, ipsa ipsum minus modi nisi nostrum nulla optio porro quam rerum suscipit voluptate. Eum in reiciendis veritatis!</div>
  </header>

  <main class="row">
    <div class="w-100">MAIN</div>
    <div class="col-sm-1">1of20</div>
    <div class="col-sm-1">2of20</div>
    <div class="col-sm-1">3of20</div>
    <div class="col-sm-1">4of20</div>
    <div class="col-sm-1">5of20</div>
    <div class="col-sm-1">6of20</div>
    <div class="col-sm-1">7of20</div>
    <div class="col-sm-1">8of20</div>
    <div class="col-sm-1">9of20</div>
    <div class="col-sm-1">10of20</div>
    <div class="col-sm-1">11of20</div>
    <div class="col-sm-1">12of20</div>
    <div class="col-sm-1">13of20</div>
    <div class="col-sm-1">14of20</div>
    <div class="col-sm-1">15of20</div>
    <div class="col-sm-1">16of20</div>
    <div class="col-sm-1">17of20</div>
    <div class="col-sm-1">18of20</div>
    <div class="col-sm-1">19of20</div>
    <div class="col-sm-1">20of20</div>
    <!--<div class="col-sm-1">1of12</div>-->
    <!--<div class="col-sm-1">2of12</div>-->
    <!--<div class="col-sm-1">3of12</div>-->
    <!--<div class="col-sm-1">4of12</div>-->
    <!--<div class="col-sm-1">5of12</div>-->
    <!--<div class="col-sm-1">6of12</div>-->
    <!--<div class="col-sm-1">7of12</div>-->
    <!--<div class="col-sm-1">8of12</div>-->
    <!--<div class="col-sm-1">9of12</div>-->
    <!--<div class="col-sm-1">10of12</div>-->
    <!--<div class="col-sm-1">11of12</div>-->
    <!--<div class="col-sm-1">12of12</div>-->
  </main>

  <footer class="row mt-auto">
    <div class="w-100">FOOTER</div>
  </footer>

</div>
